{% extends "navbar.html" %}
  {% block title %} List {% endblock %}
  {% block content %}
    <h2 style="color: crimson;text-align:center;font-size: 35px;"><span>List</span></h2>
    <div style="display: flex; flex-wrap:wrap; gap: 12px;justify-content: center;">
    {% for field in catatan %}
    <div class="card">
      <h2 style="color: rgb(22, 133, 236);text-align:center;"><span>{{field.judul}}</span></h2>
      <div>
        <p><strong>To :</strong><br>{{field.untuk}}</p>
        <p><strong>From :</strong><br>{{field.dari}}</p>
        <p><strong>Judul :</strong><br>{{field.judul}}</p>
        <p><strong>Pesan :</strong><br>{{field.pesan}}</p>
      </div>
    </div>
    {% endfor %}
    </div>
  {% endblock %}