{% extends "navbar.html" %}
  {% block title %} Notes {% endblock %}
  {% block content %}
    <h1 style="color: crimson;text-align:center"><span>Menfess</span></h1>
    <table style = "width : 80%">
      <tr>
        <th>Untuk</th>
        <th>Dari</th>
        <th>Judul</th>
        <th>Pesan</th>
      </tr>
      <!-- Loop from Note model -->
      {% for field in catatan %}
      <tr>
        <td>{{field.untuk}}</td>
        <td>{{field.dari}}</td>
        <td>{{field.judul}}</td>
        <td>{{field.pesan}}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  {% endblock %}
