{% extends "navbar.html" %}
{% block title %} Add {% endblock %}
{% block content %}
  <h1 style="color: rgb(38, 55, 206);text-align:center"> Kirim Menfess </h1>
    <form action = "" method = "POST">
      <fieldset class="center">
      {% csrf_token %}
      <div>
        <div>
          <label, style="color:rgb(0, 0, 0);">To: </label> <br>
          <label>{{ form.untuk }}</label>
        </div>
        <div>
          <label, style="color:rgb(0, 0, 0);">From: </label> <br>
          <label>{{ form.dari }}</label>
        </div>
        <div>
          <label, style="color:rgb(0, 0, 0);margin:auto">Judul: </label> <br>
          <label> {{form.judul}}</label>
        </div>
        <div>
          <label, style="color:rgb(0, 0, 0);margin:auto">Pesan:</label> <br>
          <label>{{form.pesan}}</label>
        </div>
      </div>
      <br>
      <input type = "submit" />
      </fieldset>
    </form>
{% endblock %}