{% load static %}
  <link href="{% static 'css/lab4.css' %}" rel="stylesheet">
  <title> {% block title %}  {% endblock %} </title>
  <div class="topnav">
    <a class="active" class = "hover" href={% url 'indeks' %}>Home</a>
    <a class="hover" href={% url 'add_note' %}>Add</a>
    <a class="hover" href={% url 'note_list' %}>List</a>
  </div>
{% block content %}  {% endblock %}