<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      margin-left:auto;
      margin-right:auto
    }
    </style>
  </head>
  <body>
    <h1 style="color: rgb(238, 58, 169);text-align:center"> Friend List </h1>
    <table>
      <tr>
        <th style="background-color: rgb(174, 0, 255);">Name</th>
        <th style="background-color: rgb(174, 0, 255);">NPM</th>
        <th style="background-color: rgb(174, 0, 255);">DOB</th>
      </tr>
      <!--loop from Friend model -->
      {% for field in friends %}
      <tr>
        <td>{{field.name}}</td>
        <td>{{field.npm}}</td>
        <td>{{field.dob}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
