<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Add</title>
  </head>
  <body>
    <h1 style="color: rgb(38, 55, 206);text-align:center"> Adding Friends </h1>
    <style>
      input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type=submit] {
        width: 100%;
        background-color: #248828;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    </style>
    <form action = "" method = "POST">
      {% csrf_token %}
      <div role="alert">
        <p>Name: {{ form.name }}</p>
        <p>NPM: {{ form.npm }}</p>
        <p>Date of Birth:</p>
        <p>{{ form.dob }}</p>
        {{form.as_p}}
      </div>
      <input type = "submit" />
    </form>
  </body>
</html>