<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      margin-left:auto;
      margin-right:auto
    }
    td {
    text-align: center;
  }
    </style>
    </head>
  <body>
    <h1 style="color: crimson;text-align:center"> Menfess </h1>
    <table style = "width : 80%">
      <tr>
        <th style="background-color: aqua;">Untuk</th>
        <th style="background-color: aqua;">Dari</th>
        <th style="background-color: aqua;">Judul</th>
        <th style="background-color: aqua;">Pesan</th>
      </tr>
      <!-- Loop from Note model -->
      {% for field in catatan %}
      <tr>
        <td style = "text-align:center">{{field.untuk}}</td>
        <td style = "text-align:center">{{field.dari}}</td>
        <td style = "text-align:center">{{field.judul}}</td>
        <td style = "text-align:center">{{field.pesan}}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
