.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 5px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  background-color:rgb(157, 22, 236);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

span {
  background-color: #000000;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://mcdn.wallpapersafari.com/medium/95/96/Hwyoq0.jpg");
}
  
.topnav {
  overflow: hidden;
  background-color: rgb(43, 43, 43);
}
  
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration:solid ;
  font-size: 17px;
}
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
  
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto
}

td {
  text-align: center;
  background-color: white;
}

th {
  background-color: aqua;
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit] {
  width: 50%;
  background-color: #248828;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  background-color: rgb(231, 231, 120);
  border-radius: 8px;
  border: 0;
  width: 400px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.center {
  margin: auto;
  padding: 10px;
}